services:
  fastapi:
    build: .
    environment:
      - PROJECT_NAME=API de Predição de Diabetes
      - SECRET_KEY=5MLET
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - ALGORITHM=HS256
      - MODEL_REPO_ID=lfjmachado/FIAP_TC_FASE3_DIABETE_FOREST
      - MODEL_FILENAME=melhor_modelo_diabetes.pkl